
<ion-header>

  <ion-navbar>
    <ion-title>Invitados</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list no-lines no-padding>
        <button ion-item *ngFor="let friendInvited of invitedList" (click)="presentConfirm(friendInvited, null)">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-avatar>
                      <img [src]="friendInvited.picture.data.url" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col col-18>
                    <p>{{friendInvited.name}}</p>
                  </ion-col>
                  <ion-col col-2>
                    <ion-badge color="grey" item-end>enviar</ion-badge>  
                  </ion-col>
                </ion-row>
              </ion-grid>

              
        </button>
      </ion-list>

      <button ion-button full icon-left (click)="createCode()"><ion-icon name="qr-scanner">Crear QR</ion-icon></button>

      <ion-card *ngIf='createdCode'>
        
        <ion-card-content>
          <ngx-qrcode [qrc-value]='createdCode'></ngx-qrcode>
          <p>Value: {{createdCode}}</p>
        </ion-card-content>
      </ion-card>

</ion-content>
